* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  scrollbar-color: black white;
  scrollbar-width: thin;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #e6e0e0;
}

.hero_section {
  background-image: url("download.hero.webp");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero_section_logo h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
}

.hero_section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}

.hero_section_content .hero_section_content_title {
  font-weight: 500;
}

.hero_section_content .hero_section_content_para {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  margin-top: 16px;
}

.btn_container {
  margin-top: 28px;
}

.btn_container .btn {
  font-size: 12px;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid gray;
  font-weight: 600;
  margin: 0px 5px;
}

.btn_container button:nth-child(1) {
  background-color: transparent;
  transition: 0.3s all ease;
  cursor: pointer;
}
.btn_container button:nth-child(2) {
  background-color: black;
  color: white;
  transition: 0.3s all ease;
  cursor: pointer;
}

.btn_container button:nth-child(1):hover {
  transform: scale(1.1);
  padding: 20px 30px;
}

.btn_container button:nth-child(2):hover {
  transform: scale(1.1);
  padding: 20px 30px;
}

.iframe {
  width: 100%;
  height: 100%;
}
.text {
  margin-left: 7%;
  padding: 20px;
}

img {
  width: 100%;
  height: 90%;
}
.image:hover {
  width: 97%;
  height: 83%;
  transition: 0.2s ease-in;
}
.card-container {
  margin-top: 80px;
  margin-left: 60px;
}
.card_inner_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-left: 90px;
}
.card {
  width: 80%;
}

.image {
  margin-top: 20%;
  height: 100vh;
  width: 95%;
  background-color: #eee;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.image:hover {
  cursor: pointer;
}
.card_content {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 0px 20px;
}
.load_more {
  font-weight: 550;
  border-style: none;
  background-color: #f7f5f5;
  margin-left: 40%;
  margin-top: 70px;
  box-shadow: 0px 3px 8px gray;
  text-align: center;
  padding: 20px 45px;
  border-radius: 400px;
}
.load_more:hover {
  transform: scale(1.1);
  font-weight: bold;
  padding: 20px 55px;
  transition: 0.2s ease-in-out;
}
.last_section {
  height: 210vh;
  margin-top: 80px;
  padding-left: 15%;
  background-color: #eee;
}
.heading1 {
  font-size: 100px;
  line-height: 90%;
}
.animcard {
  margin-left: 12%;
  height: 70vh;
  width: 60%;
  background-color: #ffffff;
  margin-top: 28%;
  border-radius: 20px;
}
.section_the_menu {
  padding-top: 15%;
}
.price_card_content {
  margin-top: -110%;
  border-radius: 30px;
  background-color: #ffffff;
  /* position: relative;
  top: -170%;
  left: -40px; */
  padding: 40px 0px 0px 25px;
}
.reserve_btn {
  box-shadow: -8px 5px 50px grey;
  background-color: black;
  width: 43%;
  height: 12vh;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 500;
}
.reserve_btn:hover {
  cursor: pointer;
  width: 47%;
  transition: 0.3s ease-in;
}
.price_card_content p {
  line-height: 50px;
}
.name_main_container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

li {
  font-size: 19px;
  font-weight: 520;
  list-style: circle;
  padding-top: 20px;
}

.pattern-pic {
  box-shadow: -20px 15px 30px grey;
  transform: scale(1.5) rotate(10deg);
  width: 100px;
  height: 90px;
  top: -45%;
  position: relative;
  border-radius: 25px;
}

.laptop-pic {
  box-shadow: -20px 15px 40px grey;
  transform: rotate(5deg);
  top: -150px;
  position: relative;
  right: -250px;
  width: 200%;
  height: 70vh;
  border-radius: 20px;
}
.window-pic {
  box-shadow: -10px 20px 40px grey;
  transform: rotate(10deg);
  top: 180px;
  right: -350px;
  width: 180%;
  height: 38vh;
  position: relative;
  border-radius: 20px;
}
a {
  font-weight: 400;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: grey;
}


/* responsive code */
@media (max-width:1024px){

  .hero_section {
    width: 107%;
    height: 100vh;
    background-size: cover;
  }
  .hero_section_logo h1 {
    font-size: 40px;
    font-weight: 900;

  }
 .hero_section_content_para {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
  }
  
  .btn_container .btn {
    padding: 30px;
    border-radius: 80px;
    font-weight: 600;
}
.iframe {
  width: 90%;
  margin-left: 8%;
}
img {
  width: 100%;
  height: 90%;
}
.card-container {
  margin-left: 20px;
}
.card_inner_div {
  width: 107%;
  padding-left: 30px;
}
.load_more {
  font-size: 20px;
  font-weight: 400;
  margin-left: 40%;
  padding: 30px 70px;
}
.last_section {
   width: 107%;
  height: 200vh;
  overflow: hidden;
}
.animcard {

  margin-top: 50%;

}
.pattern-pic {
  width: 90px;
  height: 90px;
  top: -40%;
  position: relative;

}

.laptop-pic {
  position: relative;
  width: 200%;
  height: 65vh;
}
.window-pic {

  top: 10px;
  right: -180px;
  height: 38vh;
  position: relative;
}
}


@media (max-width:768px){
  .hero_section {
    width: 107%;
    height: 100vh;
    background-size: cover;
  }
  .hero_section_logo h1 {
    font-size: 40px;
    font-weight: 900;

  }
 .hero_section_content_para {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
  }
  
  .btn_container .btn {
    padding: 30px;
    border-radius: 80px;
    font-weight: 600;
}
.iframe {
  width: 90%;
  margin-left: 8%;
}
img {
  width: 100%;
  height: 90%;
}
.card-container {
  margin-left: 20px;
}
.card_inner_div {
  width: 107%;
  padding-left: 30px;
}
.load_more {
  font-size: 20px;
  font-weight: 400;
  margin-left: 40%;
  padding: 30px 70px;
}
.last_section {
   width: 107%;
  height: 200vh;
  overflow: hidden;
}
.animcard {

  margin-top: 50%;

}
.pattern-pic {
  width: 90px;
  height: 90px;
  left: 20%;
  top: -50%;
  position: relative;

}

.laptop-pic {
  position: relative;
  width: 200%;
  height: 65vh;
}
.window-pic {

  top: 10px;
  right: -180px;
  height: 38vh;
  position: relative;
}
.line2{
  padding-left: 30%
}

}
 /* mobile responsive */
@media (max-width:430px)  {
body{
  background-color: #ede5e5;
}
  .hero_section {
    width: 90%;
    height: 70vh;
    background-image:none ;
  }
  .hero_section_content_title {
    font-size: 18px;
    margin-top: 50%;
    font-weight: 600;
  }
  .hero_section_logo h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding-top: 5%;

  }
  .hero_section_content .hero_section_content_para { 
    width: 60%;
      font-size: 27px;
      font-weight: 550;
      text-align: center;
      line-height: 30px;
  
    }
    .btn_container {
      
      display: grid;
      margin-top: 10px;

    }
    
    .btn_container .btn {
      font-size: 10px;
      padding: 30px 90px 30px 90px;
      border-radius: 40px;
      border: 1px solid gray;
      font-weight: 600;
      margin: 8px 10px;
    }
    .iframe {
      padding-top: 50%;
      width: 80%;
      margin-left: 10%;
    }
    img {
      width: 60%;
      height: 90%;
    }
    .card_inner_div {
      margin: 0px;
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }
    .card {
      margin: 0px;
      width: 100%;
    }
    
    .image {
      margin-top: 20%;
      height: 100vh;
      width: 95%;
      background-color: #eee;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
    }
    .load_more {
      font-weight: 500;
      border-style: none;
      background-color: #ffffff;
      margin-left: 2%;
      margin-top: 70px;
      box-shadow: 0px 3px 8px gray;
      
      padding: 25px 150px;
      border-radius: 400px;
    }
    .last_section {
      width: 100%;
      height: 250vh;
      margin-top: 80px;
      padding-left: 15%;
      background-color: #eee;
    }
    .heading1 {
      font-size: 100px;
      line-height: 90%;
    }
   
    .section_the_menu {
      padding-top: 10%;
    }
    
    
    li {
       font-size: 100%;
      font-weight: 400;
 
    }
    .line1{
     display: grid;
    grid-template-columns: 1fr;
    }
    .line2{
      display: grid;
      grid-template-columns: 1fr;
      padding-left:0%;
    }
    .animcard {
      margin-left: 2%;
      height: 50vh;
      width: 96%;
      background-color: #ffffff;
      margin-top: 28%;
      border-radius: 20px;
    }
    .price_card_content {
      margin-top: -110%;
      border-radius: 30px;
      background-color: #ffffff;
      padding: 30px 0px 0px 15px;
    }
    .reserve_btn {
      box-shadow: -8px 5px 50px grey;
      background-color: black;
      width: 43%;
      height: 12vh;
      border-radius: 50px;
      color: #ffffff;
      font-weight: 500;
    }
    .price_card_content p {
      line-height: 50px;
    }
    .name_main_container {
      padding-top: 40px;
      display:block;
      padding-left: 0%;

    }
    .pattern-pic {
      display: none;
    }
    
    .laptop-pic {
      display: none;
    }
    .window-pic {
      display: none;
    }
}